.app {
    width: 100%;
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.game {
    text-align: center;
}

.btn {
    padding: 13px 50px;
    font-size: 18px;
    line-height: 1.3333333;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    background: #399c3c;
    cursor: pointer;
}


